@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode-transition-duration: 150ms;
}

[class*="dark:bg-"],
[class*="dark:border-"] {
  transition-property: background-color, border-color;
  transition-duration: var(--dark-mode-transition-duration);
}

[class*="dark:text-"] {
  transition-property: color;
  transition-duration: var(--dark-mode-transition-duration);
}

.lucide {
  height: 1em;
  width: 1em;
}

@page {
  size: A4;
  margin: 1cm;
}

@media print {
  body {
    zoom: 0.7;
  }

  a::after {
    content: " (" attr(href) ")";
    white-space: nowrap;
  }
}
