@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-300;
}

.lucide {
  height: 1em;
  width: 1em;
}

@page {
  size: A4;
  margin-top: 2cm;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

@media print {
  body {
    zoom: 0.65;
  }
}
